<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.localareadelivery.distributorapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ShopList.ShopList"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DistributorLogin"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShopHome.ShopHome"
            android:label="@string/title_activity_shop_home"
            android:parentActivityName=".ShopList.ShopList"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.localareadelivery.distributorapp.ShopList.ShopList" />
        </activity>
        <activity
            android:name=".addStock.ItemCategories"
            android:label="@string/title_activity_item_categories"
            android:parentActivityName=".ShopHome.ShopHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.localareadelivery.distributorapp.ShopHome.ShopHome" />
        </activity>
        <activity
            android:name=".addStock.Items"
            android:label="@string/title_activity_items_add_stock"
            android:parentActivityName=".addStock.ItemCategories"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.localareadelivery.distributorapp.ShopHome.ShopHome" />
        </activity>
        <activity
            android:name=".ShopList.AddShop"
            android:label="@string/title_activity_add_shop"
            android:parentActivityName=".ShopList.ShopList"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.localareadelivery.distributorapp.ShopList.ShopList" />
        </activity>
        <activity
            android:name=".ShopList.EditShop"
            android:label="@string/title_activity_edit_shop"
            android:parentActivityName=".ShopList.ShopList"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.localareadelivery.distributorapp.ShopList.ShopList" />
        </activity>
        <activity
            android:name=".addStock.AddStock"
            android:label="@string/title_activity_add_stock"
            android:parentActivityName=".addStock.Items"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.localareadelivery.distributorapp.addStock.Items" />
        </activity>

        <!--<activity
            android:name=".Intro"
            android:theme="@style/Theme.Intro" />-->


        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".OrdersHome.OrdersHome"
            android:label="@string/title_activity_orders_home"
            android:parentActivityName=".ShopHome.ShopHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.localareadelivery.distributorapp.ShopHome.ShopHome" />
        </activity>
        <activity
            android:name=".HomeDeliveryInventory.HomeDelivery"
            android:label="@string/title_activity_home_delivery"
            android:parentActivityName=".OrdersHome.OrdersHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.localareadelivery.distributorapp.OrdersHome.OrdersHome" />
        </activity>
        <activity
            android:name=".aaDeprecated_DeliveryGuy.DeliveryVehicleActivity"
            android:label="Delivery Vehicles"
            android:parentActivityName=".OrdersHome.OrdersHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.localareadelivery.distributorapp.OrdersHome.OrdersHome" />
        </activity>
        <activity
            android:name=".aaDeprecated_DeliveryGuy.AddVehicleSelfActivity"
            android:label="Add Delivery Vehicle"
            android:parentActivityName=".aaDeprecated_DeliveryGuy.DeliveryVehicleActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.localareadelivery.distributorapp.aaDeprecated_DeliveryGuy.DeliveryVehicleActivity" />
        </activity>
        <activity
            android:name=".aaDeprecated_DeliveryGuy.EditAddressActivity"
            android:label="Edit Delivery Vehicle"
            android:parentActivityName=".aaDeprecated_DeliveryGuy.DeliveryVehicleActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.localareadelivery.distributorapp.aaDeprecated_DeliveryGuy.DeliveryVehicleActivity" />
        </activity>
        <activity
            android:name=".HomeDeliveryInventory.ConfirmItemsForDelivery"
            android:label="@string/title_activity_confirm_items_for_delivery"
            android:parentActivityName=".HomeDeliveryInventory.HomeDelivery"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.localareadelivery.distributorapp.HomeDeliveryInventory.HomeDelivery" />
        </activity>
        <activity
            android:name=".DeliveryGuyInventory.DeliveryGuyInventory"
            android:label="@string/title_activity_vehicle_dashboard"
            android:parentActivityName=".aaDeprecated_DeliveryGuy.DeliveryVehicleActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.localareadelivery.distributorapp.aaDeprecated_DeliveryGuy.DeliveryVehicleActivity" />
        </activity>
        <activity
            android:name=".DeliveryGuyDashboard.DeliveryGuyDashboard"
            android:label="Delivery Guy Dashboard"
            android:parentActivityName=".aaDeprecated_DeliveryGuy.DeliveryVehicleActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.localareadelivery.distributorapp.aaDeprecated_DeliveryGuy.DeliveryVehicleActivity" />
        </activity>
        <activity
            android:name=".QuickStockEditor.QuickStockEditor"
            android:label="@string/title_activity_quick_stock_editor"
            android:parentActivityName=".ShopHome.ShopHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.localareadelivery.distributorapp.ShopHome.ShopHome" />
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Recently added activities -->

        <activity
            android:name=".AddItemsToShopInventory.ItemCategoriesTabs"
            android:label="@string/title_activity_item_categories_tabs"
            android:parentActivityName=".ShopHome.ShopHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShopHome.ShopHome" />
        </activity>
        <activity
            android:name=".AddItemsToShopInventory.ItemCategories.AddItemCategoryOld"
            android:label="Add Item Category"
            android:parentActivityName=".ShopHome.ShopHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShopHome.ShopHome" />
        </activity>
        <activity
            android:name=".AddItemsToShopInventory.ItemCategories.EditItemCategoryOld"
            android:label="Edit Item Category"
            android:parentActivityName=".ShopHome.ShopHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShopHome.ShopHome" />
        </activity>
        <activity
            android:name=".SelectParent.ItemCategoriesParent"
            android:label="Select Parent Category"
            android:parentActivityName=".AddItemsToShopInventory.ItemCategoriesTabs"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShopHome.ShopHome" />
        </activity>
        <activity
            android:name=".HomeDistributor.DistributorHome"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemsByCategoryTabsOld.ItemCategoriesTabs"
            android:label="@string/title_activity_item_categories_tabs"
            android:parentActivityName=".ShopHome.ShopHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShopHome.ShopHome" />
        </activity>
        <activity
            android:name=".ItemsByCategoryTabsOld.ItemCategories.AddItemCategory"
            android:label="Add Item Category"
            android:parentActivityName=".ShopHome.ShopHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShopHome.ShopHome" />
        </activity>
        <activity
            android:name=".ItemsByCategoryTabsOld.ItemCategories.EditItemCategory"
            android:label="Edit Item Category"
            android:parentActivityName=".ShopHome.ShopHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShopHome.ShopHome" />
        </activity>
        <activity
            android:name=".ItemsInStockOld.EditStock"
            android:label="@string/title_activity_item_categories_tabs"
            android:parentActivityName=".ShopHome.ShopHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShopHome.ShopHome" />
        </activity>
        <activity
            android:name=".CancelledOrders.CancelledOrdersHomeDelivery"
            android:label="@string/title_activity_cancelled_orders_home_delivery"
            android:parentActivityName=".OrdersHome.OrdersHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.localareadelivery.distributorapp.OrdersHome.OrdersHome" />
        </activity>
        <activity
            android:name=".OrderDetail.OrderDetail"
            android:label="@string/title_activity_order_detail"
            android:parentActivityName=".OrdersHome.OrdersHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.localareadelivery.distributorapp.OrdersHome.OrdersHome" />
        </activity>
        <activity android:name=".SSEExample.SSEExample" />

        <service
            android:name=".HomeDistributor.SSEIntentService"
            android:exported="false" />

        <activity
            android:name=".DeliveryAccounts.DeliveryGuyAccounts"
            android:label="@string/title_activity_delivery_guy_accounts"
            android:parentActivityName=".ShopHome.ShopHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.localareadelivery.distributorapp.ShopHome.ShopHome" />
        </activity>
        <activity
            android:name=".DeliveryAccounts.EditProfile.EditDelivery"
            android:label="Edit Delivery Account"
            android:parentActivityName=".DeliveryAccounts.DeliveryGuyAccounts"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DeliveryAccounts.DeliveryGuyAccounts" />
        </activity>
        <activity
            android:name=".DeliveryAccounts.DeliveryGuySelection.DeliveryGuySelection"
            android:label="@string/title_activity_delivery_guy_selection"
            android:parentActivityName=".OrdersHome.OrdersHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.localareadelivery.distributorapp.OrdersHome.OrdersHome" />
        </activity>
        <activity
            android:name=".HomeDeliveryGuy.DeliveryGuyHome"
            android:label="@string/title_activity_delivery_guy_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeShopAdmin.ShopAdminHome"
            android:label="@string/title_activity_shop_admin_home"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <activity
            android:name=".HomeShopAdmin.EditProfile.EditShopAdmin"
            android:label="Edit Shop Admin"
            android:parentActivityName=".HomeShopAdmin.ShopAdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeShopAdmin.ShopAdminHome" />
        </activity>



        <activity
            android:name=".HomeShopAdmin.EditShop.EditShop"
            android:label="Edit Shop"
            android:parentActivityName=".HomeShopAdmin.ShopAdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeShopAdmin.ShopAdminHome" />
        </activity>


        <activity
            android:name=".ItemsByCategoryTypeSimple.ItemsByCatSimple"
            android:label="Items by Category"
            android:launchMode="singleTop"
            android:parentActivityName=".ShopHome.ShopHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShopHome.ShopHome" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>



        <activity
            android:name=".ItemsInStockByCat.ItemsInStockByCat"
            android:label="Items In Stock"
            android:launchMode="singleTop"
            android:parentActivityName=".ShopHome.ShopHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShopHome.ShopHome" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>



        <activity
            android:name=".ItemsInStock.ItemsInStock"
            android:label="Items In Stock"
            android:launchMode="singleTop"
            android:parentActivityName=".ShopHome.ShopHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShopHome.ShopHome" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>


    </application>

</manifest>